/*Asteriisk wildcard selector to override default styles to browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*styles for header*/

header {
    background-color: lightcoral;
}

/*styles for main*/

main {
    background-color: lightblue;
}

/* styles for footer*/
footer {
    background-color: orange;   
}
